{#
/**
 * @file
 * Template for the main page.
 */
#}
<div {{ attributes }}>
    {% embed '@radix_sub/navbar/navbar.twig' with {
        placement: 'sticky-top',
        container: 'fixed',
        color: 'dark',
        utility_classes: ['bg-dark'],
    } %}

        {% block branding %}
            {% if page.navbar_branding %}
                {{ page.navbar_branding }}
            {% endif %}
        {% endblock %}

        {% block left %}
            {% if page.navbar_left %}
                <div class="mr-auto">
                    {{ page.navbar_left }}
                </div>
            {% endif %}
        {% endblock %}

        {% block right %}
            {% if page.navbar_right %}
                {{ page.navbar_right }}
            {% endif %}
        {% endblock %}
    {% endembed %}

    <main class="pt-3 pb-3">
        {% if page.header %}
            <header class="page__header mb-3">
                <div class="container">
                    {{ page.header }}

                    {% block navbar_bottom %}
                        {% if page.navbar_bottom %}
                            <div class="navbar-bottom">
                                {{ page.navbar_bottom }}
                            </div>
                        {% endif %}
                    {% endblock %}

                </div>
            </header>
        {% endif %}

        {% if page.content %}
            <div class="page__content">
                <div class="sidebar sidebar-left">
                    {{ page.sidebar_left }}
                </div>
                <div class="container">
                    {{ page.content }}
                </div>
                <div class="sidebar sidebar-right">
                    {{ page.sidebar_right }}
                </div>
            </div>
        {% endif %}
    </main>

    {% if page.footer %}
        <footer class="page__footer bg-dark">
            <div class="container">
                <div class="d-flex justify-content-md-between align-items-md-center">
                    {{ page.footer }}
                </div>
            </div>
        </footer>
    {% endif %}
</div>
